<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>
<h1>Дорогая Танечка, мы с тобой вместе уже 10 лет!</h1>
<h3>Я безгранично тебя люблю и хочу это выразить, но программист не знает слов любви.</h3>
<h3>Поэтому за меня это сделает этот сайт.</h3>
<h3>Здесь ты всегда сможешь найти здесь комплимент от меня тебе</h3>
<img class="center-fit" src={{complimentImageUrl}}>

<h3>А еще рандомную картинку с собакой, чтобы усугубить эффект</h3>
<img class="center-fit" src={{dogImageUrl}}>
